@page
@model SSD_Assignment_1.Pages.Admin.Roles.ManageDeleteModel
@{
    ViewData["Title"] = "Delete User Roles";
}

@if (TempData["message"] != null)
{
    <p><font color="red">@TempData["message"]</font></p>
}

<h3>Delete A User from a Role</h3>
<form method="post">
    @Html.Label("Select User : ")
    @Html.DropDownListFor(m => m.delusername, Model.UsersSelectList, "Select User", new { @class = "form-control" })
    @Html.Label("Select Role : ")
    @Html.DropDownListFor(m => m.delrolename, Model.RolesSelectList, "Select Role", new { @class = "form-control" })
    <br />
    <input class="btn btn-primary btn-group-lg" type="submit" value="Delete this user from Role"/>
    <a class="btn btn-primary btn-group-lg" asp-page="Manage">Manage User Roles</a>
</form>

