@page
@model SSD_Assignment_1.Pages.Admin.Audits.IndexModel

@{
    ViewData["Title"] = "Audit";
}

<h1>Audit Logs</h1>

<style>
    table {
        font-size: 14px;
    }
    td {
        word-wrap: break-word;
    }
</style>
<table class="table table-striped" align="left">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Action
            </th>
            <th>
                Table
            </th>
            <th>
                Date/Time
            </th>
            <th>
                Affected Columns
            </th>
            <th>
                Old Values
            </th>
            <th>
                New Values
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Audit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuditId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td style="max-width:20px;">
                
                @Html.DisplayFor(modelItem => item.AffectedColumns)
            </td>
            <td>
                @{
                    var text = Model.DictParser(item.OldValues);
                }
                <pre>@Html.DisplayFor(modelItem => text)</pre>

            </td>
            <td>
                @{
                    var text2 = Model.DictParser(item.NewValues);
                }
                <pre>@Html.DisplayFor(modelItem => text2)</pre>
            </td>
        </tr>
}
    </tbody>
</table>
