@page
@model SSD_Assignment_1.Pages.Admin.Audits.IndexModel

@{
    ViewData["Title"] = "Audit";
}

<h1>Audit Logs</h1>
<a class="btn btn-primary" asp-page="./Index">Product logs</a>
<a class="btn btn-primary" asp-page="./RoleAudit">Role Assignment logs</a>


<style>
    table {
        font-size: 14px;
    }

    td {
        word-wrap: break-word;
    }
</style>
<table class="table table-striped" align="left" style="background-color:lightblue">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Action
            </th>
            <th>
                Table
            </th>
            <th>
                Date/Time
            </th>
            <th>
                Affected Columns
            </th>
            <th>
                Old Values
            </th>
            <th>
                New Values
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Audit)
        {
            <tr>
                <td style="width:8px;">
                    @Html.DisplayFor(modelItem => item.AuditId)
                </td>
                <td style="width:15px;">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td style="width:15px;">
                    @Html.DisplayFor(modelItem => item.TableName)
                </td>
                <td style="width:20px;">
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td style="width:20px;">

                    @Html.DisplayFor(modelItem => item.AffectedColumns)
                </td>
                <td style="width:40px;">
                    @{
                        var text = Model.DictParser(item.OldValues);
                    }
                    <pre>@Html.DisplayFor(modelItem => text)</pre>

                </td>
                <td style="width:40px;">
                    @{
                        var text2 = Model.DictParser(item.NewValues);
                    }
                    <pre>@Html.DisplayFor(modelItem => text2)</pre>
                </td>
            </tr>
        }
    </tbody>
</table>
