@page
@model SSD_Assignment_1.Pages.Admin.Audits.RoleAudit.RoleAuditModel
@{
    ViewData["Title"] = "RoleAudit";
}

<h1>Role Audit Logs</h1>
<a class="btn btn-primary" asp-page="./Index">Product logs</a>
<a class="btn btn-primary" asp-page="./RoleAudit">Role Assignment logs</a>


</style>
<table class="table table-striped" align="left">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Action
            </th>
            <th>
                Performed By
            </th>
            <th>
                Performed On
            </th>
            <th>
                DateTime
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Audits)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Audit_ID)
                </td>
                <td>
                   
                    @Html.DisplayFor(modelItem => item.AuditActionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerformedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerformedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeyAuditFieldID)
                </td>
            </tr>
        }
    </tbody>
</table>
