@page
@model SSD_Assignment_1.Pages.Admin.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <div class="card mb-3 col-sm-5" style="width: 28rem;">
            <img style="height:300px; width:auto;" class="card-img-top" src="~/images/@Model.Product.PhotoPath" alt="Image not found">

            <div class="card-footer">
                <small class="text-muted">@Html.DisplayFor(model => model.Product.Brand)</small>
            </div>
        </div>
        <div class="col-sm-7"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Animal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Animal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
