@page
@model SSD_Assignment_1.Pages.Admin.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table" style="background-color:lightblue">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].IntentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].PaymentStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
